[profile.default]
src = "src"
out = "out"
libs = ["dependencies"]
remappings = [
    "@openzeppelin-contracts-upgradeable/=dependencies/@openzeppelin-contracts-upgradeable-5.1.0/",
    "@openzeppelin-contracts/=dependencies/@openzeppelin-contracts-5.1.0/",
    "@openzeppelin/contracts/=dependencies/@openzeppelin-contracts-5.1.0/",
    "forge-std/=dependencies/forge-std-1.9.4/src",
]
via-ir = true
optimizer = true
optimizer_runs = 833
verbosity = 2
ffi = true
dynamic_test_linking = true
fs_permissions = [
  { access = "read", path = "script/input.json" },
]

[soldeer]
remappings_location = "config"
remappings_generate = true
remappings_version = false

[dependencies]
forge-std = { version = "1.9.4" }
"@openzeppelin-contracts" = { version = "5.1.0" }
"@openzeppelin-contracts-upgradeable" = { version = "5.1.0" }

[rpc_endpoints]
mainnet = "wss://mainnet.gateway.tenderly.co"
katana = "https://rpc.katanarpc.com/${KATANA_API_KEY}"
sepolia = "https://sepolia.gateway.tenderly.co"
bokuto = "https://rpc-bokuto.katanarpc.com/${BOKUTO_API_KEY}"

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options